/*ö umlaut für encoding */
h1 { 
	clear: both; 
	text-align:left; 
	color: black; 
	background-color: Lightblue;
	border: 1px solid black;
}
ul {list-style: none;}
.navitem {
	float: left;
	text-decoration:underline; 
	text-align:center; 
	margin: 5px; 
	border: 4px solid grey; 
	font-size: 2.5ex; 
	background-color: Lavender;
	width: 9em;
}



.artikel { 
	float:left;
	width:20em;
}

.content{
	float: left;
}

.bestellung {

}

.adressen{
border: 2px solid black;
}
